

<div class="container">
  <div class="heading">
    <h1 class="title">Rubik's Race</h1>
    
  </div>
 
  <div class="above-game">
     <div class="scores-container">
    <div class="score-container">0</div>
    <div class="best-container">
      {{ getFormattedScore() }}
    </div>
    
      </div>
  </div>

  <div class="answer-container">
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell answer-position-1-1"></div>
          <div class="grid-cell answer-position-1-2"></div>
          <div class="grid-cell answer-position-1-3"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell answer-position-2-1"></div>
          <div class="grid-cell answer-position-2-2"></div>
          <div class="grid-cell answer-position-2-3"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell answer-position-3-1"></div>
          <div class="grid-cell answer-position-3-2"></div>
          <div class="grid-cell answer-position-3-3"></div>
        </div>
      </div>
  </div>

  <div class="game-container">
    <div class="answer-zone"></div>

    <div class="game-message">
      <p></p>
      <div class="lower">
        <a class="retry-button">{{levels}}</a>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
    </div>

    <div class="tile-container">

    </div>
  </div>
</div>

<div class="">
  <nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
     <span class="lines line-1"></span>
     <span class="lines line-2"></span>
     <span class="lines line-3"></span>
   </label>

  <a  class="menu-item green" [routerLink]="['/level']"> <i class="fa fa-gamepad fa-2x"></i> </a>
    <a (click)="exitApp()" class="menu-item red"> <i class="fa fa-sign-out fa-2x"></i> </a>

    <a class="menu-item purple" mat-raised-button (click)="toggleTooltip()" (mouseleave)="hideTooltip()">
      <i class="fa fa-question-circle fa-2x"></i>
      <div class="tooltip" *ngIf="tooltipVisible">
        Move the tiles and follow the suit! Slide the tiles to make the 3x3 centre match the pattern. Try to win the game!
      </div>
    </a>
    
    

 
 
 
 </nav>
</div>